		<div class="row">
			<div class="col-sm-4">
				<h4 id="heading">Example 1</h4>
			</div>
			<div class="col-sm-4 text-center includeStuff">
				<button id="prev" onclick="proceed('prev', this);" disabled class="btn btn-success">
					<orly-icon color="#fff" name="chevrons-left"></orly-icon>
				</button>
				<button id="next" onclick="proceed('next', this);" class="btn btn-success">
					<orly-icon color="#fff" name="chevrons-right"></orly-icon>
				</button>
			</div>
			<div class="col-sm-4">
				<span class="float-right pr-3">
					<input id="input" type="text" class="go-input">
					<button onclick="goToIndex();" class="btn btn-primary go-button">Go</button>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<!-- <h4 id="heading">Example 1</h4> -->
			</div>
			<div class="col-sm-4 text-center">
				<button class="btn btn-sm btn-success mt-1" onclick="runJS();">
					Run
				</button>
			</div>
			<div class="col-sm-4"></div>
		</div>